.order_block {
	font-family: 'Arial', sans-serif;
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
}

.order_block h3 {
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: 20px;
	line-height: 26px;
	font-weight: 700;
	font-style: normal;
	text-transform: none;
	letter-spacing: normal;
	color: inherit!important;
	margin-bottom: 0!important;
}

.order_block h3:before {
	display: none;
}

.prod_img_wrapper {
	max-width: 300px;
	margin: 15px auto;
	position: relative;
	text-align: center;
}

.prod_img_wrapper img {
	max-width: 200px;
	width: 100%;
	margin: 0 auto;
}

.priceс {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	font-family: 'Arial', sans-serif;
	right: 0;
	bottom: 0;
	color: #000;
	box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 30px;
	width: 165px;
	height: 110px;
	text-align: center !important;
	font-size: 19px;
	font-weight: bold;
	line-height: 1.3;
	transform: rotateZ(-7deg);
	margin: -0px auto 0px;
	background: linear-gradient(to right, rgb(238, 165, 19) 0%, rgb(253, 237, 19) 100%);
	border-width: 2px;
	border-style: solid;
	border-color: rgb(255, 255, 255);
	border-image: initial;
	border-radius: 19%;
}

span.discountс {
	display: block;
	font-size: 18px;
	padding: 0 10px;
	text-align: center;
}

.price_main {
	border-bottom: 2px solid #d31812;
	font-size: 24px;
	margin: 0 auto;
	color: red;
}

.js_old_price {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.wheel_input {
	display: block;
	margin: 0 auto 20px !important;
	padding: 10px !important;
	width: 100% !important;
	border: 2px solid grey !important;
	border-radius: 5px !important;
	box-sizing: border-box;
}

.data_label {
	line-height: 30px;
}

.order_form {
	max-width: 480px;
	width: 100%;
	display: block !important;
	margin: 20px auto 0 !important;
	text-align: center !important;
}
.order_form>div {
	text-align: center;
}
.main-link {
	display: block;
	margin: 40px auto;
	padding: 15px;
	font-size: 18px;
	text-decoration: none;
	background-color: #de0606;
	text-align: center;
	color: #fff !important;
	border-radius: 4px;
	border: none;
	cursor: pointer;
}

.main-link:hover {
	opacity: 0.8;
}

.time_remains {
	font-size: 1.1em;
	color: red;
	font-weight: bold;
}

.time_remains_title {
	padding-top: 15px;
	text-align: center;
	font-size: 22px;
	margin: 0;
}

.prod-wrapper {
	padding-top: 140px;
	max-width: 350px;
	width: 100%;
	margin: 10px auto;
	text-align: center;
	position: relative;
}

.prod-wrapper .price-cost {
	background: url(../img/price-bg.png) no-repeat;
	width: 233px;
	height: 226px;
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.prod-wrapper .price-cost .al-cost-promo {
	font-family: serif;
	font-size: 25px;
	font-weight: 900;
	color: #cc0000;
	text-decoration: line-through;
}

.prod-wrapper .price-cost .al-cost {
	font-family: serif;
	font-size: 45px;
	font-weight: 900;
	color: #ff0000;
}

.order_block-med {
	text-align: center;
}
.order_block-med .order_form {
	background: rgb(242, 243, 246) none repeat scroll 0% 0%;
	background-image: url(../img/formbg.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 20px;
	max-width: 600px;
	font-family: Arial;
	margin: 20px;
	padding-bottom: 55px;
	position: relative;
	box-sizing: border-box;
}
.order_block-med .order_form img {
	max-width: 100px;
	width: 100%;
	margin: 0 auto;
}
.order_block-med .order_form .blue {
	color: blue;
	font-size: 14px;
	line-height: 27px;
	background: transparent;
}
.order_block-med .order_form h2 {
	margin: 25px 0 0 0;
}
.order_block-med .newprice {
	font-size: 16px;
	line-height: 27px;
}
.order_block-med .newprice .al-cost {
	color: red;
}
.order_block-med .newprice a {
	color: blue;
}
.order_block-med .price .al-cost-promo {
	font-size: 20px;
	color: gray;
	text-decoration: line-through;
	margin: 0 5px;
}
.order_block-med .price .al-cost {
	font-size: 30px;
	font-weight: 700;
	color: #0299ff;
	margin: 0 5px;
}
.order_block-med .frame {
	margin: 15px 10px;
	border: 2px solid #0299ff;
	padding: 10px;
	font-size: 14px;
	line-height: 1.4;
}
.order_block-med .frame a {
	color: blue;
}
.order_block-med input, .order_block-med select {
	width: 100%;
	font-size: 21px;
	padding: 0 15px;
	border-radius: 3px;
	border: 2px solid #e9d7dc;
	height: 45px;
	font-size: 17px!important;
	font-weight: 400!important;
	box-sizing: border-box;
}
.order_block-med .input-wrapper label {
   display: none;
   pointer-events: none;
 }
 .order_block-med .input-container {
	max-width: 300px;
	width: 100%;
	margin: 0 auto;
 }
 .order_block-med .input-wrapper {
   position: relative;
   margin-bottom: 20px;
 }
 
 .order_block-med .input-wrapper .error {
   border: 1px solid red!important;
   padding-top: 6px!important;
 }
 
 .order_block-med .input-wrapper .error+label {
   width: 100%;
   height: 100%;
   color: red;
   display: block !important;
   font-size: 11px;
   line-height: 17px;
   position: absolute;
   top: 0;
   left: 10px;
   text-align: left
 }
 
 .order_block-med .input-wrapper .error+label:before,
 .order_block-med .input-wrapper .error+label:after {
   content: "";
   position: absolute;
   right: 30px;
   top: 50%;
   width: 3px;
   height: 21px;
   background-color: red
 }
 
 .order_block-med .input-wrapper .error+label:before {
   -webkit-transform: translate(0, -50%) rotate(135deg);
   transform: translate(0, -50%) rotate(135deg)
 }
 
 .order_block-med .input-wrapper .error+label:after {
   -webkit-transform: translate(0, -50%) rotate(45deg);
   transform: translate(0, -50%) rotate(45deg)
 }
 .order_block-med .input-container {
	padding: 5px 0 5px 0;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
 }
 .order_block-med .main-link {
	display: inline-block;
	padding: 20px;
	color: #fff;
	font-weight: 700;
	text-decoration: none;
	box-shadow: 0 4px 15px 0 rgba(129, 150, 160, 0.45);
	border-radius: 5px;
	background-color: #0299ff;
	border: none;
	cursor: pointer;
	font-size: 20px;
	margin: 10px 0 20px;
	font-family: sans-serif;
 }
 .order_block-med .main-link:hover {
	background-color: #017ACC;
}
 .order_block-med .main-link:after {
	content: '*';
	display: inline-block;
	font-size: 75%;
	vertical-align: top;
 }
 .order_block-med .timelimit {
	 font-size: 14px;
	 line-height: 1.4;
 }
 .order_block-med .additional {
	font-size: 12px;
	line-height: 1.4;
}
 .order_block-med .timer {
	display: inline-block;
	margin-bottom: 5px;
	background: url(../img/timerIcon2.png) no-repeat;
	padding-left: 14px;
	color: red;
	height: 15px;
	vertical-align: middle;
 }
 .phone__code {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
input[name=areacode] {
	max-width: 55px;
	margin-right: 10px!important;
	padding: 5px!important;
	text-align: center;
}