:root {
    --text-primary: #000;
    --text-accent: #000;
    --text-assistant: #fff;
    --tint-1: #333;
    --tint-2: #666;
    --tint-3: #999;
    --tint-4: #ccc;
    --tint-5: #e6e6e6;
    --tint-6: #f2f2f2;
    --colour-tap-highlight: rgba(15, 116, 179, 0.5);
    --colour-visited: #300099;
    --colour-error: #db2100;
    --colour-valid: #2f7f33
}

._6b1Pv {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

._2-Xma:active, ._2-Xma:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto
}

._2HqIc {
    width: 1.25rem;
    height: 1.25rem
}

._2oERx {
    width: 1.5rem;
    height: 1.5rem
}

._1cg3S {
    color: inherit;
    display: inline-block;
    line-height: 1.75rem;
    background: transparent;
    font-family: abcsans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    font-size: .75rem;
    font-weight: 700;
    padding: .625rem 1.5rem .5rem;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid;
    border-color: var(--button-fill, var(--colour-accent));
    transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, box-shadow .2s ease-out, -webkit-transform .2s ease-out;
    -webkit-transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, -webkit-box-shadow .2s ease-out, -webkit-transform .2s ease-out;
    transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, -webkit-box-shadow .2s ease-out, -webkit-transform .2s ease-out;
    transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, box-shadow .2s ease-out, transform .2s ease-out;
    transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, box-shadow .2s ease-out, transform .2s ease-out, -webkit-box-shadow .2s ease-out, -webkit-transform .2s ease-out;
    transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, box-shadow .2s ease-out, transform .2s ease-out, -webkit-transform .2s ease-out;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    -webkit-appearance: none
}

@media (hover:hover) {
    ._1cg3S:hover {
        -webkit-box-shadow: 0 0 0 2px var(--button-fill, var(--colour-accent)), 0 .25rem .375rem -.0625rem rgba(0, 0, 0, .1), 0 .125rem .25rem -.0625rem rgba(0, 0, 0, .05);
                box-shadow: 0 0 0 2px var(--button-fill, var(--colour-accent)), 0 .25rem .375rem -.0625rem rgba(0, 0, 0, .1), 0 .125rem .25rem -.0625rem rgba(0, 0, 0, .05);
        border-radius: 2px
    }
}

._1cg3S:focus, ._1cg3S:hover {
    color: var(--button-text, var(--text-accent));
    background-color: var(--button-fill, var(--colour-accent))
}

._1cg3S:active, ._1cg3S:focus:active {
    color: var(--tint-2);
    border-color: transparent;
    background-color: var(--button-active-fill, var(--colour-accent-active))
}

.IVMXR {
    letter-spacing: .125rem;
    text-transform: uppercase
}

._1Euk1 {
    color: var(--button-text, var(--text-accent));
    background-color: var(--button-fill, var(--colour-accent));
    -webkit-box-shadow: 0 0 0 0 transparent, 0 .25rem .375rem -.0625rem rgba(0, 0, 0, .1), 0 .125rem .25rem -.0625rem rgba(0, 0, 0, .05);
            box-shadow: 0 0 0 0 transparent, 0 .25rem .375rem -.0625rem rgba(0, 0, 0, .1), 0 .125rem .25rem -.0625rem rgba(0, 0, 0, .05)
}

@media (hover:hover) {
    ._1Euk1:hover {
        color: var(--button-active-filled-text, var(--text-assistant));
        border-color: var(--button-active-filled-fill, #2b3237);
        background-color: var(--button-active-filled-fill, #2b3237);
        -webkit-box-shadow: 0 0 0 2px var(--button-active-filled-fill, #2b3237), 0 .25rem .375rem -.0625rem rgba(0, 0, 0, .5), 0 .125rem .25rem -.0625rem rgba(0, 0, 0, .3);
                box-shadow: 0 0 0 2px var(--button-active-filled-fill, #2b3237), 0 .25rem .375rem -.0625rem rgba(0, 0, 0, .5), 0 .125rem .25rem -.0625rem rgba(0, 0, 0, .3)
    }
}

._1Euk1:active, ._1Euk1:active:focus, ._1Euk1:focus {
    color: var(--button-active-filled-text, var(--text-assistant));
    border-color: transparent;
    background-color: var(--button-active-filled-fill, #2b3237)
}

._2McuJ {
    border: 0;
    line-height: 1.3rem
}

._2McuJ, ._2McuJ:active, ._2McuJ:hover {
    color: var(--link-text, var(--colour-assistant))
}

._2McuJ:hover {
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none
}

._2McuJ:active, ._2McuJ:hover {
    text-decoration: underline
}

._2McuJ:focus {
    text-decoration: none
}

._2McuJ:active, ._2McuJ:active:focus, ._2McuJ:focus {
    color: var(--text-assistant, #fff);
    background-color: var(--colour-assistant)
}

._32-tT {
    border-color: transparent
}

._32-tT:hover {
    background-color: transparent
}

._32-tT:focus {
    background-color: var(--button-active-filled-fill, #2b3237);
    color: var(--button-active-filled-text, var(--text-assistant))
}

.VigFr {
    --colour-link-nav: #01cfff;
    --colour-link-dark: #4d9aff
}

:root {
    --colour-link-nav: #01cfff
}

:root {
    --colour-link-dark: #4d9aff
}

html {
    font-size: var(--html-font-size, 16px)
}

body {
    margin: 0;
    padding: 0
}

._2h4Zn {
    font-family: abcsans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

._2h4Zn * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box
}

@page {
    margin: 15mm
}

@media print {
    html {
        font-size: 14px
    }
}

:root {
    --colour-link-nav: #01cfff;
    --colour-link-dark: #4d9aff;
    --colour-primary: #01cfff;
    --colour-accent: #01cfff;
    --colour-accent-active: rgba(0, 208, 255, 0.7);
    --colour-accent-faded: rgba(0, 208, 255, 0.25);
    --colour-assistant: #0058cc;
    --blockquote-left-border: var(--colour-assistant);
    --masthead-fill: #0f1010;
    --content-label-fill: #000;
    --content-label-text: #fff
}

:root {
    --colour-link-nav: #01cfff;
    --colour-link-dark: #4d9aff
}

:focus {
    outline: 0
}

._2HoMm {
    color: var(--link-text, var(--colour-assistant));
    text-decoration: none;
    border-bottom: 1px solid var(--link-border, #ccc);
    transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, box-shadow .2s ease-out, -webkit-transform .2s ease-out;
    -webkit-transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, -webkit-box-shadow .2s ease-out, -webkit-transform .2s ease-out;
    transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, -webkit-box-shadow .2s ease-out, -webkit-transform .2s ease-out;
    transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, box-shadow .2s ease-out, transform .2s ease-out;
    transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, box-shadow .2s ease-out, transform .2s ease-out, -webkit-box-shadow .2s ease-out, -webkit-transform .2s ease-out;
    transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, box-shadow .2s ease-out, transform .2s ease-out, -webkit-transform .2s ease-out;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    -webkit-tap-highlight-color: var(--colour-tap-highlight)
}

._3CfzI {
    border-bottom-color: transparent
}

._3dlTb {
    border: 0
}

._1u2om:visited {
    color: var(--link-visited-text, var(--colour-visited))
}

._2HoMm:hover {
    border-color: var(--link-hover, var(--link-text, var(--colour-assistant)))
}

._2HoMm:active, ._2HoMm:hover {
    color: var(--link-hover, var(--link-text, var(--colour-assistant)))
}

._3dlTb:active, ._3dlTb:hover {
    border: 0
}

h1, h2, h3, h4 {
    margin-top: 0
}

._3Jwd8 {
    font-size: .75rem
}

._2wxqg {
    font-size: .875rem
}

.zT1nT {
    font-size: 1.125rem
}

._1LI2A {
    font-size: 1.25rem
}

._2Oxv0 {
    font-size: 1.5rem
}

@media (min-width:48em) {

    ._2qFZJ {
        font-size: 1.125rem
    }

    ._1Zw2a {
        font-size: 1.5rem
    }

    ._3_H8z {
        font-size: 2rem
    }

    ._3f6Gi {
        font-size: 2.25rem
    }
}

._20AiM {
    line-height: 1.25rem
}

.SelAj {
    line-height: 1.5rem
}

.kDK_S {
    line-height: 2rem
}

._1t9H3 {
    margin-bottom: 1rem
}

@media (min-width:48em) {

    ._2-MxD {
        line-height: 1.5rem
    }

    ._12sQH {
        line-height: 2rem
    }

    .ZPXNE {
        line-height: 2.5rem
    }

    .VuOnj {
        line-height: 3rem
    }
}

@media (min-width:48em) {

    .lxkD- {
        margin-bottom: 1rem
    }
}

._2v_Gr {
    font-weight: 400
}

.oTwkj {
    font-weight: 700
}

.mSYxO {
    font-weight: 900
}

.age8P {
    color: inherit
}

._2Rt0o {
    -webkit-font-variant-ligatures: no-common-ligatures;
    font-variant-ligatures: no-common-ligatures
}

._2Rt0o {
    letter-spacing: .03125rem
}

@media print {
    ._3ahRQ {
        display: none
    }

    ._1udcJ {
        display: inline
    }
}

.GYD-C[title] {
    border: 0;
    text-decoration: none
}

._382w0, .nsFuH {
    list-style: none;
    padding: 0;
    margin: 0
}

._382w0 li {
    position: relative;
    padding-left: 1.5rem
}

.nsFuH li {
    padding-left: 0
}

._382w0 li:not(:last-child), .nsFuH li {
    margin-bottom: .5rem
}

@media print {
    ._382w0, .nsFuH {
        margin-left: 1.5rem
    }

    ._382w0 {
        list-style-type: decimal
    }

    ._382w0 li {
        padding-left: 0
    }
}

._1O9aS._1HQd4 {
    color: var(--list-number, var(--colour-assistant, var(--colour-accent)));
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    display: block;
    text-align: center;
    font-weight: 700
}

._5TtRA._1HQd4 {
    display: none
}

@media print {
    ._1O9aS._1HQd4 {
        display: none
    }
}

._1bRag ._3OfAe {
    border-bottom: 1px solid transparent
}

._1bRag {
    font-weight: 700
}

._1bRag:active ._3OfAe, ._1bRag:hover ._3OfAe {
    border-color: inherit
}

._1LnBj {
    margin-left: .5rem;
    color: var(--colour-accent);
    position: relative;
    top: 5px;
    transition: -webkit-transform .2s ease-out;
    -webkit-transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out, -webkit-transform .2s ease-out;
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

._1bRag:hover ._1LnBj {
    -webkit-transform: translateX(.5rem);
    transform: translateX(.5rem)
}

.UgwCi.UgwCi {
    line-height: 0;
    padding: .5rem;
    -webkit-box-shadow: none;
            box-shadow: none
}

.UgwCi.UgwCi:hover {
    border-radius: 3px;
    -webkit-box-shadow: none;
            box-shadow: none
}

:root {
    --colour-link-nav: #01cfff;
    --colour-link-dark: #4d9aff
}

._3SsCp {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem
}

@media (min-width:34em) {
    ._3SsCp {
        max-width: 36rem
    }
}

@media (min-width:48em) {
    ._3SsCp {
        max-width: 45rem
    }
}

@media (min-width:62em) {
    ._3SsCp {
        max-width: 60rem
    }
}

@media (min-width:75em) {
    ._3SsCp {
        max-width: 72rem
    }
}

@media print {
    ._3SsCp {
        max-width: none
    }
}

.aQkEh {
    height: 100%;
    list-style: none
}

._2wV-h {
    display: inline-block;
    vertical-align: middle
}

._322fh {
    height: 100%;
    height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    -webkit-tap-highlight-color: var(--colour-tap-highlight);
    color: inherit;
    background-color: transparent;
    transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, box-shadow .2s ease-out, -webkit-transform .2s ease-out;
    -webkit-transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, -webkit-box-shadow .2s ease-out, -webkit-transform .2s ease-out;
    transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, -webkit-box-shadow .2s ease-out, -webkit-transform .2s ease-out;
    transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, box-shadow .2s ease-out, transform .2s ease-out;
    transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, box-shadow .2s ease-out, transform .2s ease-out, -webkit-box-shadow .2s ease-out, -webkit-transform .2s ease-out;
    transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, box-shadow .2s ease-out, transform .2s ease-out, -webkit-transform .2s ease-out
}

@media (min-width:34em) {
    ._2wV-h ._322fh {
        height: 4rem
    }
}

@media (hover:hover) {
    ._322fh:hover {
        background-color: rgba(0, 0, 0, .2)
    }
}

._322fh:active:focus, ._322fh:focus, ._322fh:hover:focus {
    outline: none
}

._3m_3s {
    color: #fff;
    background-color: var(--masthead-fill, #2b3237);
    -webkit-box-sizing: content-box;
            box-sizing: content-box
}

@media (min-width:34em) {
    ._3m_3s {
        height: 4rem
    }
}

._3m_3s ul {
    list-style: none;
    margin: 0;
    padding: 0;
    outline: 0 none;
    float: left;
}

.U3zty:after {
    display: block;
    content: "";
    clear: both
}

.ioq2Z {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    max-height: 4rem;
    border-bottom: 1px solid #e6e6e6
}

.ioq2Z._3o-RD {
    width: 20rem;
    border-bottom: none
}

._3XkbV {
    max-width: 30rem;
    margin: 0 auto
}

._3o-RD ._3XkbV, ._3XkbV {
    font-size: .875rem;
    padding: 1.125rem
}

._3o-RD ._3XkbV {
    margin: 0;
    max-width: none
}

.x2bu3 {
    margin-top: 4rem;
    width: 100%;
    left: 0;
    -webkit-box-shadow: 0 3px 2px 0 rgba(0, 0, 0, .08), 0 3px 5px 0 rgba(0, 0, 0, .1);
            box-shadow: 0 3px 2px 0 rgba(0, 0, 0, .08), 0 3px 5px 0 rgba(0, 0, 0, .1)
}

.x2bu3._3o-RD {
    width: 20rem
}

._3nCCN {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 30rem;
    margin: 0 auto
}

._3o-RD ._3nCCN {
    max-width: none;
    margin: 0
}

.nuevv {
    margin: inherit;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: none;
    border: 0;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: inherit;
    font-size: .875rem;
    text-decoration: none;
    padding: 0 .35rem;
    height: 4rem;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: left;
    line-height: auto;
    -webkit-tap-highlight-color: var(--colour-tap-highlight);
    position: relative
}

.nuevv._314H1 {
    color: #fff
}

.nuevv._314H1:hover {
    color: var(--colour-primary)
}

.nuevv, .nuevv:visited {
    color: #000
}

.nuevv:active:focus, .nuevv:focus, .nuevv:hover:focus {
    outline: none
}

.nuevv:hover {
    color: #000;
    background-color: rgba(0, 0, 0, .05);
    border-bottom-color: transparent;
    padding-top: 0
}

._3o-RD .nuevv {
    border-left: 1px solid rgba(0, 0, 0, .2)
}

._2CZMw {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.UcM_M {
    font-size: .875rem
}

._2CZMw .UcM_M {
    display: block;
    max-width: 8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

._2UN13 {
    font-size: .75rem
}

._3LC5I {
    z-index: 100;
    background-color: #fff;
    height: 100%;
    overflow: hidden
}

._1p-qx {
    visibility: hidden
}

._19w07 {
    position: absolute
}

._3-lUu {
    top: 0
}

.HkBzv[type=date]:not(:focus)::-webkit-datetime-edit-day-field, .HkBzv[type=date]:not(:focus)::-webkit-datetime-edit-month-field, .HkBzv[type=date]:not(:focus)::-webkit-datetime-edit-text, .HkBzv[type=date]:not(:focus)::-webkit-datetime-edit-year-field {
    color: var(--colour-placeholder, var(--tint-2))
}

._2x93R {
    display: inline-block;
    font-size: .75rem;
    font-weight: 700;
    line-height: 1.3rem;
    padding: .3rem .6rem .1rem;
    text-decoration: none;
    letter-spacing: .125rem;
    text-transform: uppercase;
    background-color: var(--link-text, var(--colour-assistant));
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: -webkit-transform .2s ease-out;
    -webkit-transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out, -webkit-transform .2s ease-out
}

._2x93R, ._2x93R:focus, ._2x93R:visited {
    color: #fff
}

._2x93R:focus {
    padding: .5rem 1rem;
    position: absolute;
    top: 0;
    z-index: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    outline: 0
}

._1Rq_k {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    height: 3rem
}

@media (min-width:34em) {
    ._1Rq_k {
        height: 4rem
    }
}

._1Rq_k:focus {
    outline: 0;
    background-color: var(--link-text, var(--colour-assistant))
}

._2fRan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 1rem;
    height: 2.0625rem;
    text-decoration: none
}

@media (min-width:34em) {
    ._2fRan {
        height: 2.75rem
    }
}

._2fRan svg {
    height: 100%
}

@media print {
    ._2fRan {
        color: #000;
        padding: 0
    }
}

._29D8Z {
    display: block
}

@supports not (-ms-high-contrast:none) {
    ._29D8Z {
        width: auto
    }
}

._16sYO {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    outline: 0;
    width: 3rem;
    height: 3rem
}

@media (min-width:34em) {
    ._16sYO {
        width: 4rem;
        height: 4rem
    }
}

._16sYO, ._16sYO:visited {
    color: inherit
}

._16sYO:focus {
    color: #fff;
    background-color: var(--link-text, var(--colour-assistant))
}

.QDH0r {
    width: 3rem;
    height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center
}

@media (min-width:34em) {
    .QDH0r {
        width: 4rem;
        height: 4rem
    }
}

.QDH0r {
    cursor: pointer;
    padding: 0 1rem;
    border: 0;
    background-color: rgba(0, 0, 0, .2)
}

.QDH0r, .QDH0r:hover {
    color: #fff
}

._2onZV:before {
    background: rgba(0, 0, 0, .6);
    content: "";
    position: absolute;
    z-index: 90;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity .6s;
    transition: opacity .6s;
    -webkit-transition-timing-function: cubic-bezier(.7, 0, .3, 1);
            transition-timing-function: cubic-bezier(.7, 0, .3, 1)
}

._3NIlf {
    --link-text: #fff;
    --link-hover: var(--colour-assistant);
    text-transform: uppercase;
    font-weight: 700
}

._2PzDL {
    font-size: .75rem;
    letter-spacing: .09375rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center
}

._3tR1h {
    border-bottom: 1px solid transparent
}

._2PzDL:active ._3tR1h, ._2PzDL:hover ._3tR1h {
    border-bottom-color: var(--colour-assistant)
}

._2PzDL:focus ._3tR1h {
    border-bottom-color: transparent
}

._2PzDL svg {
    color: inherit;
    margin-right: .625rem;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px)
}

._34F2e {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap
}

._34F2e ._3NIlf {
    width: 50%;
    padding-right: 1rem
}

._1v0nr {
    display: block;
    width: 100%;
    height: .5rem;
    position: absolute;
    top: -.48rem;
    fill: #2b3237;
    font-size: 0
}

@media (min-width:62em) {
    ._1v0nr {
        height: 1rem;
        top: -.98rem
    }
}

._3blaz {
    --link-text: #fff;
    --link-hover: var(--colour-assistant);
    --link-border: transparent;
    background-color: #2b3237;
    color: #999;
    font-family: abcsans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    margin-top: auto;
    position: relative;
    padding: 2rem 0
}

@media (min-width:34em) {
    ._3mXDK {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap
    }
}

@media (min-width:75em) {
    ._3mXDK {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start
    }
}

@media print {
    ._3blaz {
        display: none
    }
}

._3HOxW {
    position: relative;
    background-color: #2b3237;
    color: #b3b3b3
}

@media (max-width:74.9375em) {
    ._3HOxW {
        padding: 1.875rem 1rem
    }
}

@media (min-width:75em) {
    ._3HOxW {
        padding: 1.5rem;
        width: 50%
    }
}

._3HOxW:not(:first-of-type) {
    padding-top: 2.375rem
}

@media (max-width:74.9375em) {
    ._3HOxW:not(:first-of-type) {
        border-top: 1px solid #40464b
    }
}

@media (min-width:34em) {
    ._3HOxW:not(:first-of-type) {
        width: 50%
    }
}

@media (min-width:75em) {
    ._3HOxW:not(:first-of-type) {
        border-left: 1px solid #40464b
    }
}

@media (max-width:74.9375em) {
    ._3HOxW:first-of-type, ._3HOxW:last-of-type:not(:nth-child(odd)) {
        width: 100%
    }
}

._3HOxW:nth-child(2n) {
    border-right: 1px solid #40464b
}

@media (max-width:33.9375em) {
    ._3HOxW:nth-child(2n) {
        border-right: 0
    }
}

@media (min-width:75em) {
    ._3HOxW:nth-child(2n) {
        border-right: 0
    }
}

._3URXF {
    font-size: .875rem;
    letter-spacing: .125rem;
    text-transform: uppercase;
    font-weight: 700
}

@media (min-width:75em) {
    ._3URXF {
        margin-bottom: .875rem
    }
}

._3r8K5 {
    background-color: #383f43;
    padding-left: 1rem;
    padding-right: 1rem
}

._2IIN- {
    border-bottom: 1px solid #646464
}

._2tGuZ {
    --link-text: #fff;
    --link-hover: var(--colour-assistant);
    --link-border: transparent
}

._2faYp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 1.75rem 0 .5rem
}

._2faYp li {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding-bottom: 1.25rem
}

._1sVvx ul {
    display: block;
    padding: 1rem 0;
    text-align: center
}

._1sVvx li {
    display: inline-block;
    margin: 0 .5rem
}

._1sVvx li:first-child {
    margin-left: 0
}

._1sVvx li:last-child {
    margin-right: 0
}

@media (min-width:34em) {
    ._2faYp li {
        padding-left: 14%;
        padding-right: 14%
    }
}

@media (min-width:48em) {
    ._2faYp li {
        padding-left: 17%;
        padding-right: 17%
    }
}

@media (min-width:62em) {
    ._2faYp {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding-bottom: 1.75rem
    }

    ._2faYp li {
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
        padding: 0 1rem
    }
}

@media (min-width:75em) {
    ._3r8K5 {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 5.375rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }

    ._2IIN- {
        border-bottom: none;
        -webkit-box-flex: 9999;
            -ms-flex-positive: 9999;
                flex-grow: 9999
    }

    ._1sVvx {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1
    }

    ._2faYp {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        padding: 0
    }

    ._2faYp li:first-child {
        padding-left: 0
    }

    ._2faYp li:last-child {
        padding-right: 0
    }
}

@media print {
    ._3r8K5 {
        display: none
    }
}

._1mtZi {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none
}

._1mtZi li {
    margin-right: .5rem
}

._1jzTk {
    width: 3rem;
    height: 3rem
}

._17Xtu {
    text-decoration: none;
    border: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
    transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, box-shadow .2s ease-out, -webkit-transform .2s ease-out;
    -webkit-transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, -webkit-box-shadow .2s ease-out, -webkit-transform .2s ease-out;
    transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, -webkit-box-shadow .2s ease-out, -webkit-transform .2s ease-out;
    transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, box-shadow .2s ease-out, transform .2s ease-out;
    transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, box-shadow .2s ease-out, transform .2s ease-out, -webkit-box-shadow .2s ease-out, -webkit-transform .2s ease-out;
    transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, box-shadow .2s ease-out, transform .2s ease-out, -webkit-transform .2s ease-out
}

._1qv2E {
    width: 3rem;
    height: 3rem
}

._3vXrQ {
    color: #fff;
    background-color: #40464b
}

._3vXrQ:focus, ._3vXrQ:hover {
    background-color: #f2f2f2;
    color: #000
}

._17Xtu:focus {
    outline-color: var(--link-text, var(--colour-assistant));
    outline-style: solid;
    outline-width: .125rem
}

:root {
    --colour-link-nav: #01cfff;
    --colour-link-dark: #4d9aff
}

.DD4KP {
    --link-text: #fff;
    --link-hover: #fff;
    position: relative;
    margin-bottom: .875rem
}

._3EF7j {
    display: inline-block;
    margin-left: -.5rem;
    margin-top: -.5rem;
    padding: .5rem;
    text-decoration: none
}

._3EF7j:focus {
    background-color: var(--colour-assistant)
}

._3EF7j:focus, ._3EF7j:focus svg {
    color: var(--text-assistant, #fff)
}

._1E-Sb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
}

._2gbYK {
    -ms-flex-negative: 0;
        flex-shrink: 0
}

._2gbYK img {
    width: 100%;
    vertical-align: bottom
}

._38hRP {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1
}

@media (max-width:33.9375em) {

    ._3AxOM {
        margin-left: 5%
    }

    ._3AxOM {
        -ms-flex-preferred-size: 40%;
            flex-basis: 40%
    }
}

@media (min-width:34em) and (max-width:61.9375em) {

    .wiET8 {
        margin-left: 1rem
    }

    .wiET8 {
        -ms-flex-preferred-size: 40%;
            flex-basis: 40%
    }
}

@media (min-width:62em) {

    ._3MNZW {
        margin-left: 1rem
    }

    ._3MNZW {
        -ms-flex-preferred-size: 40%;
            flex-basis: 40%
    }
}

._1z778 {
    display: block;
    width: 100%
}

.oNO9S {
    min-height: .063rem;
    position: relative;
    overflow: hidden;
    clear: both
}

.oNO9S ._1z778 {
    position: absolute
}

.JaEq6 {
    background-color: #f2f2f2;
    height: 0;
    position: relative
}

._2D-3v {
    transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, box-shadow .2s ease-out, -webkit-transform .2s ease-out;
    -webkit-transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, -webkit-box-shadow .2s ease-out, -webkit-transform .2s ease-out;
    transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, -webkit-box-shadow .2s ease-out, -webkit-transform .2s ease-out;
    transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, box-shadow .2s ease-out, transform .2s ease-out;
    transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, box-shadow .2s ease-out, transform .2s ease-out, -webkit-box-shadow .2s ease-out, -webkit-transform .2s ease-out;
    transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, box-shadow .2s ease-out, transform .2s ease-out, -webkit-transform .2s ease-out
}

a:not(:hover) ._2D-3v {
    color: var(--text-primary)
}

a:hover ._2D-3v {
    color: var(--link-hover, var(--link-text, var(--colour-assistant)))
}

a:visited ._2D-3v {
    color: var(--link-visited-text, var(--colour-visited))
}

:root {
    --colour-link-nav: #01cfff;
    --colour-link-dark: #4d9aff
}

._2fw3S._2fw3S {
    display: block;
    overflow: visible;
    color: #fff;
    padding-right: .25rem;
    padding-bottom: 19.685%;
    width: 100%;
    height: 1px;
    -webkit-transform: translateY(-.75px);
    transform: translateY(-.75px);
    -webkit-box-sizing: content-box;
            box-sizing: content-box
}

@media print {
    ._2fw3S._2fw3S {
        color: #000
    }
}

._2kx-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:62em) {
    ._2kx-3 {
        max-width: 60rem
    }
}

@media (min-width:75em) {
    ._2kx-3 {
        max-width: 72rem
    }
}

.bjPdo {
    margin: auto
}

@media (min-width:62em) {
    .bjPdo {
        max-width: 60rem;
        padding-left: 0;
        padding-right: 0
    }
}

@media (min-width:75em) {
    .bjPdo {
        max-width: 72rem
    }
}

._1JJbw {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%
}

._2qjTv {
    width: 100%
}

.MZfaE {
    padding-bottom: 1.5rem
}

.MZfaE>div:first-of-type {
    padding-bottom: 1rem;
    padding-top: 1.5rem
}

._3eeXe._3eeXe {
    margin-left: 0;
    margin-right: 0;
    width: 100%
}

@media (min-width:62em) {
    ._3eeXe._3eeXe {
        border-left: 1px solid #e6e6e6
    }
}

@media (min-width:62em) {
    .bW8GA {
        margin-left: -1rem;
        margin-right: -1rem;
        border-right: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
        height: 100%
    }
}

.xv9UK.xv9UK {
    margin: 0
}

@media (min-width:62em) {
    .xv9UK.xv9UK {
        padding-top: 1.5rem;
        margin-right: -1rem
    }
}

._7r3kR {
    padding: 1.5rem 1rem 0;
    width: 100%
}

@media (min-width:62em) {
    ._7r3kR {
        padding-top: 3rem
    }
}

@media (min-width:62em) {
    ._1XH5Z {
        width: 32.875rem;
        margin-right: auto;
        margin-left: auto
    }
}

@media (min-width:75em) {
    ._1XH5Z {
        width: 39.875rem
    }
}

._3zUVe p+h2 {
    margin-top: 1.5rem
}

@media print {
    ._2kx-3 {
        display: block;
        max-width: none
    }

    .bjPdo {
        display: none
    }

    .MZfaE {
        padding-bottom: 0
    }

    .MZfaE>div:first-of-type {
        padding-bottom: 1rem;
        padding-top: 1rem
    }

    ._3eeXe._3eeXe {
        border-left: 0
    }

    .bW8GA {
        margin-left: 0;
        margin-right: 0;
        border-right: 0
    }

    .xv9UK.xv9UK {
        display: none
    }

    ._7r3kR {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0
    }

    ._1XH5Z {
        width: auto
    }
}

@media (min-width:62em) {
    ._27tpe {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-left: -1rem;
        margin-right: -1rem
    }
}

._6TJ0W {
    margin-bottom: 1rem
}

@media (min-width:62em) {
    ._6TJ0W {
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
        -webkit-box-flex: 999;
            -ms-flex-positive: 999;
                flex-grow: 999;
        margin-bottom: 0;
        padding-left: 1rem
    }
}

@media (min-width:62em) {
    ._1OneN {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        margin-left: 2rem;
        padding-right: 1rem
    }

    ._1OneN.UvUG- {
        -ms-flex-preferred-size: calc(25% - 1rem);
            flex-basis: calc(25% - 1rem)
    }
}

@media print {
    ._27tpe {
        display: block
    }

    ._6TJ0W {
        padding-left: 0
    }

    ._1OneN {
        margin-left: 0;
        padding-right: 0
    }
}

._11s3- {
    margin-left: -1rem;
    margin-right: -1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap
}

@media print {
    ._11s3- {
        display: block
    }
}

._2nGEa {
    margin: 2rem 0;
    text-align: right;
    clear: both
}

._25iOw {
    --link-hover: var(--colour-assistant);
    --link-border: #ccc;
    --link-text: #646464;
    font-weight: 700;
    font-size: .875rem
}

._2nGEa ._25iOw {
    -webkit-transition: none;
    transition: none
}

._1vrhy {
    border-bottom: 1px solid transparent;
    transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, box-shadow .2s ease-out, -webkit-transform .2s ease-out;
    -webkit-transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, -webkit-box-shadow .2s ease-out, -webkit-transform .2s ease-out;
    transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, -webkit-box-shadow .2s ease-out, -webkit-transform .2s ease-out;
    transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, box-shadow .2s ease-out, transform .2s ease-out;
    transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, box-shadow .2s ease-out, transform .2s ease-out, -webkit-box-shadow .2s ease-out, -webkit-transform .2s ease-out;
    transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, box-shadow .2s ease-out, transform .2s ease-out, -webkit-transform .2s ease-out;
    margin-right: .25rem;
    cursor: pointer;
}

._25iOw:hover:focus {
    text-decoration: none
}

._25iOw:active ._1vrhy, ._25iOw:hover ._1vrhy {
    border-color: var(--link-text, var(--colour-assistant))
}

@media print {
    ._2nGEa {
        display: none
    }
}

._1f3R_ {
    --colour-assistant: var(--colour-primary);
    --text-assistant: var(--text-primary)
}

._2N9dK {
    font-size: .875rem;
    letter-spacing: .09375rem
}

._2N9dK {
    font-weight: 700;
    margin-bottom: .5rem;
    position: relative;
    top: -3px
}

._3BYpK {
    width: 10.1875rem
}

._1CoLx, ._1CoLx p {
    display: inline
}

._2iW6U {
    background-color: hsla(0, 0%, 100%, .1);
    border-top: 1px solid rgba(0, 0, 0, .2);
    overflow: hidden;
}

._3RQpM {
    color: #fff
}

@media (hover:hover) {
    ._3RQpM:hover {
        color: var(--colour-primary)
    }
}

.Ij49D {
    background-color: #0f1010;
    overflow: hidden;
}

.yZ027 {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between
}

._3EOYI, .yZ027 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

._15R4F, ._15R4F:visited, .ompde, .ompde:visited {
    color: #fff
}

._3cA2z, ._15R4F {
    border-left: 1px solid hsla(0, 0%, 100%, .2)
}

._15R4F:hover, ._15R4F:visited:hover {
    color: var(--colour-primary)
}

._3XRGb, ._3XRGb:hover {
    background-color: hsla(0, 0%, 100%, .1)
}

._3XRGb:focus {
    color: #fff
}

@media print {
    .Ij49D {
        background: none
    }

    ._3EOYI {
        display: none
    }
}

.tER2y {
    margin-left: 1rem;
    min-width: 5rem;
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%
}

@media (min-width:62em) {
    .tER2y {
        -ms-flex-preferred-size: 35%;
            flex-basis: 35%
    }
}

._3RDQQ {
    font-size: 14px;
    line-height: 1rem;
    font-weight: 600;
    margin-bottom: 0;
}

._1bAUU {
    overflow: auto
}

._1LbdU._1LbdU {
    margin-bottom: 1.5rem
}

._1LbdU._1LbdU:last-child {
    margin-bottom: 0
}

@media (prefers-color-scheme:dark) {
}

._3M2Ue {
    margin: 0
}

._3M2Ue:after {
    content: "";
    display: block;
    clear: both
}

._1qYXN {
    color: #646464;
    margin-top: 1rem
}

._27aqo {
    font-style: italic;
    display: inline;
    text-transform: capitalize;
    padding-left: .25rem
}

@media print {
    ._3M2Ue {
        page-break-inside: avoid;
        max-width: 35rem
    }
}

._3Puf6._3Puf6._3Puf6 {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;
}

._2wTXH a:not(:hover) {
    border-bottom: transparent
}

.O37ft {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    margin-bottom: 0
}

@media (max-width:61.9375em) {
    ._32lHE {
        display: none
    }
}

._3ovP0._3ovP0 {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #e6e6e6
}

._3JPeN {
    width: 100%;
    margin: auto auto 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 36rem
}

@media (min-width:48em) {
    ._3JPeN {
        max-width: 45rem
    }
}

@media (min-width:62em) {
    ._3JPeN {
        max-width: none;
        padding: 0
    }
}

._3juvp {
    outline: 0 none;
    z-index: 100;
    border: 1px solid #e6e6e6;
    background-color: #fff
}

@media (max-width:33.9375em) {
    ._3juvp {
        width: 100vw;
        height: 100vh;
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        overflow: hidden
    }
}

@media (min-width:34em) {
    ._3juvp {
        -webkit-box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, .05);
                box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, .05)
    }
}

._1TdNd {
    display: none
}

._1PH9d {
    pointer-events: none
}

._28QSJ {
    position: absolute;
    z-index: 3;
    width: 3rem;
    height: 3rem;
    top: 0;
    right: 0;
    left: auto;
    margin: .175rem .125rem
}

@media (max-width:33.9375em) {
    ._28QSJ {
        right: .75rem
    }
}

._2A34V {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-top: 4rem;
    position: relative;
    z-index: 2
}

._3KbTd {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    position: absolute;
    margin: .75rem
}

@media (max-width:33.9375em) {
    ._3KbTd {
        display: none
    }
}

.X26fH._3juvp {
    --button-active-filled-fill: #fff;
    --button-active-filled-text: #000;
    --link-border: #666;
    --colour-assistant: #4d9aff;
    --button-text: #fff;
    color: #fff;
    background-color: #2b3237;
    border-color: transparent
}

@media (min-width:34em) {
    .X26fH._3juvp {
        -webkit-box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, .25);
                box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, .25)
    }
}

._12qlo {
    text-transform: uppercase;
    border-bottom: transparent;
    font-weight: 700
}

.GkNpc.GkNpc {
    border-left: 0;
    border-right: 0
}

.GP5k0 {
    padding: 0 1rem
}

.GP5k0 ._25BNs {
    margin-bottom: .5rem
}

.GP5k0 ._25BNs a {
    margin-right: 1rem
}

._1pGzx img {
    width: 100%
}

._1pGzx figcaption {
    padding: 0 1rem
}

@media print {
    ._1pGzx figcaption, .GP5k0 {
        padding: 0
    }
}

._2ZzXf {
    display: inline-block
}

._1QNlv {
    width: 100%;
    margin-left: auto;
    margin-right: auto
}

@media (max-width:61.9375em) {
    ._1QNlv {
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6
    }
}

@media (min-width:62em) {
    ._1QNlv {
        max-width: 60rem
    }
}

@media (min-width:75em) {
    ._1QNlv {
        max-width: 72rem
    }
}

.AkCLm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 3.5rem;
    font-size: .75rem;
    line-height: 1.25rem;
    letter-spacing: .09375rem
}

@media (max-width:61.9375em) {
    .AkCLm {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem
    }
}

@media (min-width:34em) and (max-width:61.9375em) {
    .AkCLm {
        max-width: 45rem
    }
}

@media (min-width:62em) {
    .AkCLm {
        border: 1px solid #e6e6e6;
        padding-left: 1rem
    }
}

@media print {
    ._1QNlv {
        display: none
    }
}

._2eDGU, ._3MW9R {
    margin-right: 1rem
}

._2eDGU {
    font-size: .875rem;
    margin-top: .0625rem
}

._2fFmp {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center
}

._2fFmp, ._2MW52 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

._2MW52 {
    margin: 0;
    padding-left: 0;
    list-style: none;
    width: 7rem
}

._2MW52 li {
    margin-right: .5rem
}

._2MW52 ._2eu5v {
    position: relative
}

._2MW52 ._3Znc7._3Znc7 {
    padding: 0;
    color: #fff;
    border-radius: 50%;
    background-color: #000;
    width: 2rem;
    height: 2rem;
    -ms-touch-action: manipulation;
        touch-action: manipulation
}

._2MW52 ._3Znc7._3Znc7:focus {
    outline-color: var(--colour-assistant);
    outline-style: solid;
    outline-width: .125rem
}

._2MW52 ._3Znc7._3Znc7:focus, ._2MW52 ._3Znc7._3Znc7:hover {
    color: #000;
    background-color: #f2f2f2;
    -webkit-transition: none;
    transition: none
}

._30kJv {
    width: 19rem
}

@media (max-width:33.9375em) {
    ._30kJv {
        width: 100vw
    }
}

._1x0Gr, .DRo6R {
    margin-left: 1rem;
    margin-right: 1rem
}

._1x0Gr {
    margin-bottom: 1rem
}

.DRo6R {
    list-style: none;
    padding-left: 0;
    margin-bottom: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between
}

.DRo6R li {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%
}

@media print {
    ._2fFmp {
        display: none
    }
}

._3G_g0 {
    text-decoration: none;
    border: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
    transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, box-shadow .2s ease-out, -webkit-transform .2s ease-out;
    -webkit-transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, -webkit-box-shadow .2s ease-out, -webkit-transform .2s ease-out;
    transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, -webkit-box-shadow .2s ease-out, -webkit-transform .2s ease-out;
    transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, box-shadow .2s ease-out, transform .2s ease-out;
    transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, box-shadow .2s ease-out, transform .2s ease-out, -webkit-box-shadow .2s ease-out, -webkit-transform .2s ease-out;
    transition: color .2s ease-out, border-color .2s ease-out, border-radius .2s ease-out, background-color .2s ease-out, box-shadow .2s ease-out, transform .2s ease-out, -webkit-transform .2s ease-out
}

._33UpN {
    width: 2rem;
    height: 2rem
}

._2kEfG {
    color: #fff;
    background-color: #000
}

._2kEfG:focus, ._2kEfG:hover {
    background-color: #f2f2f2;
    color: #000
}

._3G_g0:focus {
    outline-color: var(--link-text, var(--colour-assistant));
    outline-style: solid;
    outline-width: .125rem
}

._2gG8p {
    font-size: .75rem;
    line-height: 1.5rem;
    text-decoration: none;
    letter-spacing: .09375rem;
    margin-bottom: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: .25rem;
    -ms-touch-action: manipulation;
        touch-action: manipulation
}

._2gG8p, ._2gG8p:active, ._2gG8p:focus, ._2gG8p:hover, ._2gG8p:visited {
    color: #fff
}

._2gG8p:focus {
    outline: none;
    background-color: var(--link-text, var(--colour-assistant))
}

._1dlw_ {
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center
}

._1dlw_ ._3WnPJ {
    display: none
}

._2gG8p ._3WnPJ {
    border-bottom: 1px solid transparent
}

._2gG8p ._3WnPJ:hover {
    color: #fff;
    border-bottom: 1px solid #ccc
}

._3NxEo {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .5rem;
    position: relative;
    top: -3px
}

._2OYvD._2OYvD {
    color: #000
}

._2OYvD._2OYvD:focus {
    color: #fff
}

._29mVA {
    margin: 0 1.5rem 1.5rem;
    width: 18rem
}

._1hf7b {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.wEJbd {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1
}

.wEJbd+.wEJbd {
    margin-left: 1rem
}

._2B9Pt {
    --link-text: #fff
}

._12xTf {
    position: relative;
    padding-left: 2.7rem;
    padding-top: .4rem;
    margin-bottom: .6rem
}

._2ZzP3 {
    display: block;
    min-height: 2rem;
    font-size: .875rem;
    line-height: 1.25rem;
    cursor: pointer
}

._3SvT5 {
    width: 2rem;
    height: 2rem;
    margin-right: .75rem;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--link-text, var(--colour-assistant))
}

._2Zvi1 {
    display: none
}

._2YCs7:checked+._2ZzP3 ._2Zvi1 {
    display: inline-block
}

._2YCs7:checked+._2ZzP3 ._2Qz53 {
    display: none
}

._2ZzP3:before {
    content: "";
    display: block;
    position: absolute;
    top: .25rem;
    left: .25rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%
}

._3QEKs {
    border: 0;
    padding: 0;
    margin-inline: 0
}

:root {
    --colour-link-nav: #01cfff;
    --colour-link-dark: #4d9aff
}

.commits {
    padding: 15px 15px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.commits__title {
    margin-bottom: 15px;
    font-size: 24px;
}

.commits__item {
    padding: 25px 0 0;
}

.commits__item.hide .commits__add {
    display: none;
}

.commits__item+.commits__item {
    margin-top: 20px;
    border-top: 1px solid #eaeaea;
}

.commits__item:first-child {
    padding-top: 0;
}

.commits__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 5px;
}

.commits__face {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-color: gray;
    overflow: hidden;
}

.commits__face img {
    display: block;
    width: 100%;
}

.commits__name {
    font-size: 14px;
}

.commits__date {
    font-size: 12px;
}

/* .commits__body {} */

.commits__description {
    color: #000;
    line-height: 24px;
}

.commits__media {
    margin-top: 10px;
}

.commits__success {
    display: inline-block;
    padding: 5px 15px;
    margin-top: 20px;
    font-style: italic;
    font-size: 12px;
    background-color: #e2e2e2;
}

.commits__media img {
    display: block;
    max-width: 100%;
}

.commits__add-title {
    margin-bottom: 10px;
}

.commits__field-name {
    display: block;
    width: 100%;
    max-width: 230px;
    margin-bottom: 10px;
    padding: 5px;
}

.commits__field-message {
    display: block;
    width: 100%;
    height: 100px;
    max-width: 500px;
    margin-bottom: 10px;
    padding: 5px;
    resize: none;
}

.commits__item_hide {
    display: none;
}

.commits_error {
    border-color: red;
}

@media(max-width: 480px) {
    .commits__description {
        font-size: 14px;
    }
}

img {
    max-width: 100%;
    display: block;
}

p + h2 {
    margin-bottom: 10px;
    margin-top: 20px !important;
}

h2 + p {
    margin-top: 10px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn{
    border: 0;
    display: inline-block;
    padding: 15px 50px;
    background-color: #2b3237;
    color: #fff;
    text-decoration: none;
    margin-top: 30px;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
}

.btn:hover {
    background-color: #000;
}

.commits__add-btn {
    border: 0;
    display: inline-block;
    padding: 15px 50px;
    background-color: #2b3237;
    color: #fff;
    text-decoration: none;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
}

.commits__add-btn:hover {
    background-color: #000;
}

.fl {
    float: left;
    margin-right: 25px;
}


@media (max-width: 530px) {
    .fl {
        max-width: 150px;
    }
}

ol > li > b {
    display: block;
}

ol > li + li {
    margin-top: 10px;
}

.border {
    padding: 15px 20px;
    border: 1px solid #b7b7b7;
}

body {
    margin: 0
}

.ryle {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 830px;
    height: 100vh;
    background-color: #9dc979;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    font-family: 'Roboto', sans-serif;
    -webkit-transition: .6s ease-in;
    transition: .6s ease-in
}

.ryle_active {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

.ryle__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s
}

.ryle__close:hover {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.ryle__close:hover span {
    background-color: #000
}

.ryle__close span {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff
}

.ryle__close span:first-child {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.ryle__close span:last-child {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.ryle__box {
    position: relative;
    margin-left: -359px;
    width: 718px;
    height: 718px
}

.ryle__media {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url(bg.png);
    background-repeat: no-repeat;
    -webkit-transition: 5s -webkit-transform;
    transition: 5s -webkit-transform;
    transition: 5s transform;
    transition: 5s transform, 5s -webkit-transform
}

.ryle__media_active {
    -webkit-transform: rotate(1290deg) scale(1);
    transform: rotate(1290deg) scale(1)
}

.ryle__item {
    position: absolute;
    top: 50%;
    left: 50%;
    padding-left: 40px;
    width: 100%;
    max-width: 300px;
    color: #fff;
    font-weight: 700;
    max-width: 176px;
    text-align: center;
    font-size: 22px
}

.ryle__item:nth-of-type(1) {
    -webkit-transform: rotate(-60deg) translate(143px, -98px);
    transform: rotate(-60deg) translate(143px, -98px)
}

.ryle__item:nth-of-type(2) {
    -webkit-transform: rotate(-30deg) translate(100px, -60px);
    transform: rotate(-30deg) translate(100px, -60px)
}

.ryle__item:nth-of-type(3) {
    -webkit-transform: rotate(0deg) translate(80px, -10px);
    transform: rotate(0deg) translate(80px, -10px)
}

.ryle__item:nth-of-type(4) {
    -webkit-transform: rotate(30deg) translate(90px, 45px);
    transform: rotate(30deg) translate(90px, 45px)
}

.ryle__item:nth-of-type(5) {
    -webkit-transform: rotate(60deg) translate(117px, 85px);
    transform: rotate(60deg) translate(117px, 85px)
}

.ryle__item:nth-of-type(6) {
    -webkit-transform: rotate(90deg) translate(169px, 109px);
    transform: rotate(90deg) translate(169px, 109px)
}

.ryle__item:nth-of-type(7) {
    -webkit-transform: rotate(120deg) translate(234px, 100px);
    transform: rotate(120deg) translate(234px, 100px)
}

.ryle__item:nth-of-type(8) {
    -webkit-transform: rotate(150deg) translate(277px, 63px);
    transform: rotate(150deg) translate(277px, 63px)
}

.ryle__item:nth-of-type(9) {
    -webkit-transform: rotate(180deg) translate(297px, 20px);
    transform: rotate(180deg) translate(297px, 20px)
}

.ryle__item:nth-of-type(10) {
    -webkit-transform: rotate(210deg) translate(287px, -47px);
    transform: rotate(210deg) translate(287px, -47px)
}

.ryle__item:nth-of-type(11) {
    -webkit-transform: rotate(240deg) translate(259px, -85px);
    transform: rotate(240deg) translate(259px, -85px)
}

.ryle__item:nth-of-type(12) {
    -webkit-transform: rotate(270deg) translate(207px, -108px);
    transform: rotate(270deg) translate(207px, -108px)
}

.ryle__arrow {
    position: absolute;
    top: 50%;
    margin-top: -40px;
    right: -80px;
    width: 160px;
    height: 80px;
    background-image: url(arrow.png);
    background-repeat: no-repeat;
    background-size: cover
}

.ryle__info {
    margin: auto 50px auto auto;
    text-align: center;
    max-width: 275px;
}

.ryle__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #111
}

.ryle__look {
    display: inline-block;
    padding: 15px 30px;
    background-color: #111;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    text-transform: uppercase;background: linear-gradient(137deg, #5567c9, #da6144);
}

.ryle__look:hover {
    background-color: #272727
}

.ryle__discount {
    visibility: hidden;
    margin-top: 20px;
    font-size: 22px;
    color: #fff
}

.ryle__discount_active {
    visibility: visible
}

@media (max-width: 1280px) {
    .ryle {
        width: 768px
    }
}

@media (max-width: 768px) {
    .ryle {
        width: 100vw;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        overflow-y: auto
    }

    .ryle__box {
        margin-left: -239px;
        min-width: 460px;
        min-height: 460px;
        width: 460px;
        height: 460px
    }

    .ryle__media {
        background-size: cover
    }

    .ryle__info {
        margin-right: 15px
    }

    .ryle__arrow {
        right: -62px;
        width: 100px;
        height: 50px
    }

    .ryle__item {
        font-weight: 400;
        font-size: 11px;
        padding-left: 15px;
        max-width: 129px
    }

    .ryle__item:nth-of-type(1) {
        -webkit-transform: rotate(-60deg) translate(93px, -67px);
        transform: rotate(-60deg) translate(93px, -67px)
    }

    .ryle__item:nth-of-type(2) {
        -webkit-transform: rotate(-30deg) translate(65px, -43px);
        transform: rotate(-30deg) translate(65px, -43px)
    }

    .ryle__item:nth-of-type(3) {
        -webkit-transform: rotate(0deg) translate(52px, -13px);
        transform: rotate(0deg) translate(52px, -13px)
    }

    .ryle__item:nth-of-type(4) {
        -webkit-transform: rotate(30deg) translate(59px, 31px);
        transform: rotate(30deg) translate(59px, 31px)
    }

    .ryle__item:nth-of-type(5) {
        -webkit-transform: rotate(60deg) translate(77px, 57px);
        transform: rotate(60deg) translate(77px, 57px)
    }

    .ryle__item:nth-of-type(6) {
        -webkit-transform: rotate(90deg) translate(110px, 73px);
        transform: rotate(90deg) translate(110px, 73px)
    }

    .ryle__item:nth-of-type(7) {
        -webkit-transform: rotate(120deg) translate(154px, 67px);
        transform: rotate(120deg) translate(154px, 67px)
    }

    .ryle__item:nth-of-type(8) {
        -webkit-transform: rotate(150deg) translate(182px, 41px);
        transform: rotate(150deg) translate(182px, 41px)
    }

    .ryle__item:nth-of-type(9) {
        -webkit-transform: rotate(180deg) translate(195px, 14px);
        transform: rotate(180deg) translate(195px, 14px)
    }

    .ryle__item:nth-of-type(10) {
        -webkit-transform: rotate(210deg) translate(189px, -30px);
        transform: rotate(210deg) translate(189px, -30px)
    }

    .ryle__item:nth-of-type(11) {
        -webkit-transform: rotate(240deg) translate(171px, -56px);
        transform: rotate(240deg) translate(171px, -56px)
    }

    .ryle__item:nth-of-type(12) {
        -webkit-transform: rotate(270deg) translate(137px, -73px);
        transform: rotate(270deg) translate(137px, -73px)
    }
}

@media (max-width: 480px) {
    .ryle__box {
        margin-left: -270px;
        margin-top: -120px
    }

    .ryle__title {
        font-size: 18px;
        margin-bottom: 10px
    }
}

.all-form {
    height: 1px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    max-width: 620px;
    color: #000;
    font-size: 16px;
    visibility: hidden;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.all-form_active {
    height: auto;
    visibility: visible;
}

.all-form__time {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.all-form__time > span {
    display: block;
}

.all-form__count {
    color: red;
}

.all-form__body {
    padding: 25px 45px;
    margin-top: 25px;
    background-color: #fff;
    -webkit-box-shadow: 4px 5px 10px 0px rgba(0, 0, 0, 0.25);
            box-shadow: 4px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

.all-form__title {
    font-size: 33px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    line-height: 40px;
}

.all-form__title span {
    color: #50b27c;
}

.all-form__label > span {
    display: block;
    margin-bottom: 5px;
}

.all-form__label + .all-form__label {
    margin-top: 20px;
}

.all-form__field {
    display: block;
    width: 100%;
    height: 50px;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.all-form__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px;
}

.all-form__btn {
    padding: 15px 40px;
    border-radius: 3px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin-right: 40px;
    background-color: #53b57f;
    background: rgb(90,188,134);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(90,188,134,1)), color-stop(50%, rgba(66,163,110,1)));
    background: linear-gradient(180deg, rgba(90,188,134,1) 0%, rgba(66,163,110,1) 50%);
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
    border: 0;
}

.all-form__btn:hover {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
}

.all-form__price-new {
    margin-right: 15px;
    color: #49aa75;
    font-size: 20px;
}

.all-form__price-old {
    font-size: 14px;
    color: #8c8c8c;
    text-decoration: line-through;
}

@media (max-width: 480px) {
    .all-form__footer {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .all-form__btn {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
        font-size: 15px;
    }

    .all-form__body {
        padding: 25px;
    }
}

.main-lnk {
    text-decoration: none;
    color: inherit;
}

#app {
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .U3zty {
        display: none;
    }
} 

@media screen and (max-width: 600px) {
    ._3cA2z {
        display: none;
    }
}